    <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <ng-container *ngIf="i<3">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>
              <button class="btn btn-secondary" (click)="delete(product.id)">del</button>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>

